@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico:wght@400&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Paramètres structure */

body {
    display: block;
    overflow-x: hidden;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 30px 100px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

section {
    background: #41234c;
    display: flow-root;
    height: clamp(600px, 100vh, 100vh);
    padding: 5% 7%;
    position: relative;
    overflow: hidden;
    min-width: 200px;
}

h2 {
    color: #fff;
    font-family: 'Pacifico', sans-serif;
    font-size: clamp(2rem, 6.5vh, 7vw);
    font-weight: 400;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.25);
}

p {
    color: #fff;
    font-size: clamp(0.75rem, 2.25vh, 2.5vw);
    font-weight: 300;
    padding: 10px;
}

/* Page accueil */

.logo {
    font-size: clamp(2em, 3vh, 40px);
    color : #ffffffb6;
    pointer-events : none;
}

/* header */

ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.1;
}

ul li {
    display : flex;
    list-style-type: none;
    margin-left: 20px;
}

ul li a {
    border-radius: 20px;
    color: white;
    font-size: clamp(1em, 2vh, 30px);
    padding: 6px 15px;
    text-decoration: none;
}

ul li a:hover {
    background: white;
    color: #2f1544;
}

/* parallax */

#space {
    display: flex;
    width: 10em;
}

#name {
    background-image: linear-gradient(to bottom, #41234C, #81385F, #bc5662c4, #e8825dce, #fdba5bb6);
    align-items: center;
    display: flex;
    height: clamp(500px, 100vh, 150dvh);
    justify-content: center;
    position: relative;
}

#text {
    color : #fff;
    font-size: clamp(7vh, 11vh, 50vw);
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

#name img {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#bgstars {
    animation: floatingstars 7s infinite;
}

@keyframes floatingstars {
    25% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}

/* About */

#moon_mini {
    float: left;
    height: 30px;
    margin-right: 10px;
    width: 30px;
}

#about .mini_logo {
    align-items: center;
    display: flex;
    justify-content: left;
}

#about .cloud_about {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cloud_about img {
    max-height: 40%;
    max-width: 40%;
    min-width: 150px;
    position: absolute;
    z-index: 1000;
}

#nuage_1 {
    animation: floatingcloud 3s infinite;
}

#nuage_2 {
    animation: floatingcloud 5s infinite;
}

#nuage_3 {
    animation: floatingcloud 4s infinite;
}

@keyframes floatingcloud {
    10% {
        transform: none;
    }
    70% {
        transform: translateY(7px);
    }
    100% {
        transform: none;
    }
}

/* Ecole */

.cont {
    margin-top: 5vh;
}

#schools p {
    vertical-align: middle;
    margin: 2.5vh;
}

#schools .schoolbox {
    align-items: center;
    background-image: linear-gradient(to right top, #91769c, #957ba5, #9980ad, #9c86b6, #9f8bbf, #9f90c5, #9e94cc, #9d99d2, #999fd7, #96a4db, #92aadf, #8fafe2);
    border-radius: 200px;
    box-shadow: 7px 7px 14px #33223a,
                -7px -7px 14px #432e4c;
    display: flex;
    padding: 8px 5px;
    height: 100%;
    z-index: 10;
}

#schools .container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    overflow-x: hidden;
    transform: translateX(400%);
    transition: transform 1.5s ease;
    z-index: 10;
}

#schools .container:nth-of-type(even) {
    transform: translateX(-400%);
}

#schools .container.show{
    transform: translateX(0);
}

#schools .container .space {
    height: clamp(4em, 25vh, 130px);
    margin: 20px;
    width: clamp(3em, 0vh, 130px);
}

#art_ap, #science_co {
    background: #442153;
    border-radius: 50%;
    box-shadow: inset -13px 13px 26px #381b45,
                inset 13px -13px 26px #502761;
    margin: clamp(1vh, 2vh, 20px);
    height: clamp(12vh, 18vh, 18vh);
}

/* Langage */

#constellation {
    bottom: 0;
    left: 0;
    opacity: .2;
    position: absolute;
    z-index: 0;
    height: 100vh;
}

#constellation_top {
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    height: 70vh;
}

.dev {
    display: flex;
}

.desgn {
    display: none;
}

.dev, .desgn {
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    justify-content: center;
}

#constellation_banner {
    height: 30vh;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 0px;
    z-index: 0;
}

#wave {
    bottom: 0px;
    left: 0;
    margin-top: 10px;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.box .pourcent {
    position: relative;
    margin: -1.5rem;
    transform: rotate(270deg);
    width: 11rem;
} 

svg circle {
    position: relative; 
    fill: none; 
    stroke: #523f5a;
    stroke-width: 6px; 
    transform: translate(0.5rem,0.5rem);
}

svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 314;
    stroke-dashoffset: calc(314 - (314 * var(--num)) /100);
    stroke-width: 5;
}

svg .progress {
    animation: circle 2s ease-out forwards;
    stroke-dasharray: 314;
    stroke-dashoffset: 0;
    z-index: 10000;
}

@keyframes circle {
    to {
        stroke-dashoffset: -314;
    }
}

.box nav {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.box nav label {
    align-items: center;
    background-color: #f2ebf4;
    color: #442153;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    display: flex;
    font-size: 2vh;
    font-weight: 600;
    height: clamp(50px, 8vh, 40em);
    justify-content: center;
    margin: 0.5rem;
    outline: none;
    padding: 3vh;
    z-index: 15;
}

.box nav label:hover {
    color: #846c91;
}

.box input[type="radio"] {
    display: none;
}

#Dev:checked ~ .dev,
#Design:checked ~ .desgn {
    display: flex;
}

.box nav .Dev {
    background-color: transparent;
    border: 2px solid #f2ebf4;
    color: #f2ebf4;
}

#Dev:checked ~ nav .Dev,
#Design:checked ~ nav .Design {
    background-color: transparent;
    border: 2px solid #f2ebf4;
    color: #f2ebf4;
    z-index: 1000;
}

#Dev:checked ~ nav .Design,
#Design:checked ~ nav .Dev {
    background-color: #f2ebf4;
    color: #442153;
    z-index: 1000;
}

#Design:checked ~ .dev {
    display: none;
}

#python_logo, #html_logo, #css_logo, #js_logo, #cplus, #ps_logo, #id_logo, #figma_logo, #blender_logo {
    align-items: center;
    border-radius: 50%;
    border: 10px solid transparent;
    display: flex;
    inset: 0;
    outline-offset: 12px;
    position: absolute;
    transform: translate(0.5rem,0.5rem) rotate(-270deg);
    height: clamp(5rem, 26vw, 100px);
}

/* Projet glass section */

#projet {
    align-items: center;
    background: #f2ebf4;
    display: flex;
    justify-content: center;
}

#projet h2 {
    color: #442153;
}

#projet .glass {
    border-radius: 3rem;
    box-shadow: inset -25px 25px 51px #c8c0cb,
                inset 25px -25px 51px #f1f1f1;
    min-height: 60vh;
    padding: 50px;
    width: 90%;
}

.glass .section {
    display: flex;
    flex-direction: row;
}

.slider_text {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

/* Radio label */

.slider_text p {
    align-items: center;
    color: #442153;
    justify-content: center;
    z-index: 12000;
}

.slider_text nav {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 4rem;
    margin-top: 0;
}

.slider_text nav label {
    align-items: center;
    border-radius: 12px;
    box-shadow: -7px 7px 24px #dad4dc,
                7px -7px 24px #ffffff;
    color: #341142;
    cursor: pointer;
    display: flex;
    font-size: 2vh;
    font-weight: 600;
    height: clamp(50px, 8vh, 40vh);
    justify-content: center;
    line-height: 60px;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 15vh;
    z-index: 12;
}

.slider_text nav label:hover {
    color: #7c608a;
}

.slider_text nav .Hempburn {
    color: #fff;
    z-index: 1000;
}

#Memorio:checked ~ nav .Hempburn,
#draw:checked ~ nav .Hempburn {
    color: #341142;
    z-index: 12;
}

#Hempburn:checked ~ nav .Hempburn,
#Memorio:checked ~ nav .Memorio,
#draw:checked ~ nav .draw {
    color: #fff;
    z-index: 1000;
}

.slider_text input[type="radio"] {
    display: none;
}

.slider_text nav .select {
    background-image: linear-gradient(to right top, #91769c, #957ba5, #9980ad, #9c86b6, #9f8bbf, #9f90c5, #9e94cc, #9d99d2, #999fd7, #96a4db, #92aadf, #8fafe2);
    border-radius: 10px;
    box-shadow: inset -7px 7px 24px #8d8abd,
                inset 7px -7px 24px #ada8e7;
    height: clamp(50px, 8vh, 40vh);
    position: absolute;
    transition: all 0.4s ease;
    width: 100%;
    z-index: 20;
}

#Hempburn:checked ~ nav .select {
    top: 0;
}

#Memorio:checked ~ nav .select {
    top: clamp(50px, 8vh, 40vh);
}

#draw:checked ~ nav .select {
    top: clamp(50px, 16vh, 40vh);
}

/* Slider image */

.slider_Hempburn {
    display: flex;
}

.slider_Memorio,
.slider_draw {
    display: none;
}

.slider_Hempburn,
.slider_Memorio,
.slider_draw {
    align-items: center;
    flex-direction: column;
}

#Hempburn:checked ~ .slider_section .slider_Hempburn,
#Memorio:checked ~ .slider_section .slider_Memorio,
#draw:checked ~ .slider_section .slider_draw {
    display: flex;
    width: clamp(10rem, 40vh, 50rem);
}

#Memorio:checked ~ .slider_section .slider_Hempburn,
#Memorio:checked ~ .slider_section .slider_draw,
#draw:checked ~ .slider_section .slider_Hempburn,
#draw:checked ~ .slider_section .slider_Memorio {
    display: none;
}

.slider {
    border-radius: 1.5rem;
    box-shadow: -5px 5px 22px #bdb5bf,
                5px -5px 22px #ffffff;
    display: flex;
    height: clamp(20em, 43vh, 200rem);
    margin: -2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: clamp(10rem, 28vh, 30rem);
}

.slider_Memorio .slider {
    width: clamp(10rem, 21vh, 30rem);;
}

.slider_draw .slider {
    width: clamp(10rem, 30vh, 30rem);;
}

.slider img {
    flex: 1 0 100%;
    object-fit: cover;
    scroll-snap-align: start;
}

.slider-nav {
    bottom: 1.25rem;
    column-gap: 1rem;
    display: flex;
    float: right;
    margin-top: 10px;
    z-index: 1;
}

.slider-nav a {
    background-color: #d2c2d6;
    border-radius: 50%;
    height: 0.5rem;
    opacity: 0.75;
    transition: opacity ease 250ms;
    width: 0.5rem;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider_section p {
    margin: 2vh;
    font-size: clamp(0.75rem, 2vh, 2.5vw);
}

/* Footer */

footer {
    align-items: center;
    background: linear-gradient(to bottom, #f2ebf4, #d8c1df);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    left: 0;
    padding-right: 50;
    padding-right: 50;
    padding: 30px 100px;
    position: relative;
    top: 0;
    width: 100%;
}

footer p {
    color: #3b2843;
    font-size: clamp(0.75rem, 1.75vh, 10rem);
}

.contact {
    align-items: center;
    column-gap: 1rem;
    display: flex;
    justify-content: space-between;
}

#linked_in {
    box-shadow: -5px 5px 11px #b8b3b9, 
                5px -5px 11px #ffffff;
    position: flex;
    transition: .6s;
    width: 3rem;
}

#linked_in:hover {
    transform: translate(0, -10px);
}

footer .cvita a{
    align-items: center;
    background-color: #8976a8;
    border-radius: 50px;
    border: solid #8976a8 2px;
    box-shadow: #000000 0 0 0 0;
    color: #e9d2f0;
    cursor: pointer;
    display: flex;
    font-family: 'Pacifico', sans-serif;
    font-size: clamp(0.75rem, 3vh, 10rem);
    font-weight: 400;
    padding: 2vh 5vh;
    text-decoration: none;
    text-align: center;
    transition : 1000ms;
}

.cvita a:hover{
    background-color: transparent;
    border: solid 2px #8976a8;
    color: #8976a8;
    padding: 10px 50px;
    transition : 1000ms;
}

/* Media queries */

@media (max-width: 1366px){

    #name img {
        object-fit: cover;
    }

}

@media (max-width: 700px) {
    

    header {
        padding: 30px 35px; 
    }

    section {
        padding: 8%;
    }

    #schools, #language, #projet {
        height: clamp(600px, 120vh, 120vh); 
    }


    .logo {
        font-size: 3vh;
    }

    #text {
        font-size: 7vh;
        padding: 8px;
    }

    .cloud_about img {
        max-height: 75%;
        max-width: 75%;
    }

    #star, #star_1, #star_2, #star_3 {
        display: none;
    }

    #art_ap {
        margin-bottom: 0;
        height: clamp(50px, 9vh, 15vh);
    } 
    
    #science_co {
        height: clamp(50px, 9vh, 15vh);
    }

    #schools .schoolbox {
        border-radius: 4rem;
        flex-direction: column;
    }

    #schools .container p {
        padding: 5px;
    }

    #projet .glass {
        padding: 20px;
        width: 100%;
    }

    .slider_text nav {
        margin-top: 0.5rem;
    }
    
    .slider_text nav label {
        height: clamp(50px, 8vh, 40vh);
    }

    .slider_text nav .select {
        height: clamp(50px, 8vh, 40vh);
    }
}

@media (min-height: 900px) {

    #about, #language {
        height: clamp(600px, 60vh, 120vh); 
    }

}