@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico:wght@400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

/** {
  scrollbar-width: thin;
  scrollbar-color: #BB91FF #FFFFFF;
  overflow: overlay;
  overflow-x: hidden; 
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 20px;
  background-color: #d9ccee;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A580E1;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #755BA0;
} 
*/

section {
    position: relative;
    background: #3b2843;
    padding: 100px;
    height: 100vh;
}

h2 {
    font-family: 'Pacifico', sans-serif;
    font-size: 3em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.25);
}

p {
    font-size: max(1em);
    color: #fff;
    font-weight: 300;
    padding: 10px;
}

.logo {
    font-size: 2em;
    color : #ffffffb6;
    pointer-events : none;
}

#name {
    background: linear-gradient(#2f1544, #b696b6);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 6em;
    color : #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

#name img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

#moon_mini {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
}

#about .mini_logo {
    display: flow-root;
    align-items: center;
    justify-content: left;
}

#about .cloud_about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloud_about img {
    position: absolute;
    top: 55%;
    max-height: 45%;
    max-width: 45%;
}

#nuage_1 {
    animation: floating 3s infinite;
}

#nuage_2 {
    animation: floating 5s infinite;
}

#nuage_3 {
    animation: floating 4s infinite;
}

@keyframes floating {
    10% {
        transform: none;
    }
    70% {
        transform: translateY(7px);
    }
    100% {
        transform: none;
    }
}

#schools p {
    vertical-align: middle;
}

#schools .schoolbox {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background-image: linear-gradient(to right top, #91769c, #957ba5, #9980ad, #9c86b6, #9f8bbf, #9f90c5, #9e94cc, #9d99d2, #999fd7, #96a4db, #92aadf, #8fafe2);
    box-shadow: 7px 7px 14px #33223a,
                -7px -7px 14px #432e4c;
    z-index: 10;
}

#schools .container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    border-radius: 100px;
    transform: translateX(-400%);
    transition: transform 1.5s ease;
    z-index: 10;
}

#schools .container:nth-of-type(even) {
    transform: translateX(400%);
}

#schools .container.show{
    transform: translateX(0);
}

#schools .container .space {
    width: 130px;
    height: 150px;
    margin: 20px;
}

#art_ap, #science_co {
    position: flex;
    max-width: 170px;
    max-height: 170px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    background: #3b2843;
    box-shadow: inset -13px 13px 26px #2b1d31,
                inset 13px -13px 26px #4b3355;
}

#constellation {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: .2;
}

#constellation_top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: .2;
}

#language p {
    margin-bottom: 2rem;
}

#language .box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#constellation_banner {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 0;
    opacity: .2;
}

#wave_svg {
    position: absolute;
    object-fit: cover;
    bottom: -70px;
    left: 0;
    z-index: 0;
}

#python_logo, #html_logo, #css_logo, #js_logo, #cplus {
    height: 120px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: 2px solid #ffffff;
    outline-offset: 12px;
    border: 15px solid transparent;
}

#python_logo { box-shadow: 0 0 0 2px #fff, 0px -67px 0px -53px #fff, 9px -66px 0px -53px #fff,
    17px -64px 0px -53px #fff, 25px -62px 0px -53px #fff, 33px -58px 0px -53px #fff, 
    41px -53px 0px -53px #fff, 48px -47px 0px -53px #fff, 53px -41px 0px -53px #fff, 
    56px -36px 0px -53px #fff, 59px -32px 0px -53px #fff, 62px -26px 0px -53px #fff, 
    64px -20px 0px -53px #fff, 65px -14px 0px -53px #fff, 66px -7px 0px -53px #fff, 
    67px 0px 0px -53px #fff, 66px 9px 0px -53px #fff, 65px 14px 0px -53px #fff, 
    63px 23px 0px -53px #fff, 59px 32px 0px -53px #fff, 54px 40px 0px -53px #fff, 
    48px 47px 0px -53px #fff, 41px 53px 0px -53px #fff, 36px 46px 0px -53px #fff, 
    33px 58px 0px -53px #fff, 27px 60px 0px -53px #fff, 20px 63px 0px -53px #fff, 
    14px 64px 0px -53px #fff, 8px 66px 0px -53px #fff, 0px 67px 0px -53px #fff, 
    -9px 66px 0px -53px #fff, -17px 64px 0px -53px #fff, -25px 62px 0px -53px #fff, 
    -33px 58px 0px -53px #fff, -41px 53px 0px -53px #fff, -48px 47px 0px -53px #fff, 
    -53px 41px 0px -53px #fff, -56px 36px 0px -53px #fff, -59px 32px 0px -53px #fff, 
    -62px 26px 0px -53px #fff, -64px 20px 0px -53px #fff, -65px 14px 0px -53px #fff, 
    -66px 7px 0px -53px #fff, -67px 0px 0px -53px #fff, 0 0 0 12px #3b2843; 
}
#js_logo {
    box-shadow: 0 0 0 2px #fff, 0px -67px 0px -53px #fff, 9px -66px 0px -53px #fff, 
    17px -64px 0px -53px #fff, 25px -62px 0px -53px #fff, 33px -58px 0px -53px #fff, 
    41px -53px 0px -53px #fff, 48px -47px 0px -53px #fff, 53px -41px 0px -53px #fff, 
    56px -36px 0px -53px #fff, 59px -32px 0px -53px #fff, 62px -26px 0px -53px #fff, 
    64px -20px 0px -53px #fff, 65px -14px 0px -53px #fff, 66px -7px 0px -53px #fff, 
    67px 0px 0px -53px #fff, 66px 9px 0px -53px #fff, 65px 14px 0px -53px #fff, 
    63px 23px 0px -53px #fff, 59px 32px 0px -53px #fff, 54px 40px 0px -53px #fff, 
    48px 47px 0px -53px #fff, 41px 53px 0px -53px #fff, 36px 46px 0px -53px #fff, 
    33px 58px 0px -53px #fff, 27px 60px 0px -53px #fff, 20px 63px 0px -53px #fff, 
    14px 64px 0px -53px #fff, 8px 66px 0px -53px #fff, 0px 67px 0px -53px #fff,
    0 0 0 12px #3b2843; 
}

#css_logo {
    box-shadow: 0 0 0 2px #fff, 0px -67px 0px -53px #fff, 9px -66px 0px -53px #fff, 
    17px -64px 0px -53px #fff, 25px -62px 0px -53px #fff, 33px -58px 0px -53px #fff, 
    41px -53px 0px -53px #fff, 48px -47px 0px -53px #fff, 53px -41px 0px -53px #fff, 
    56px -36px 0px -53px #fff, 59px -32px 0px -53px #fff, 62px -26px 0px -53px #fff, 
    64px -20px 0px -53px #fff, 65px -14px 0px -53px #fff, 66px -7px 0px -53px #fff, 
    67px 0px 0px -53px #fff, 66px 9px 0px -53px #fff, 65px 14px 0px -53px #fff, 
    63px 23px 0px -53px #fff, 59px 32px 0px -53px #fff, 54px 40px 0px -53px #fff, 
    48px 47px 0px -53px #fff, 41px 53px 0px -53px #fff, 36px 46px 0px -53px #fff, 
    33px 58px 0px -53px #fff, 27px 60px 0px -53px #fff, 20px 63px 0px -53px #fff, 
    14px 64px 0px -53px #fff, 8px 66px 0px -53px #fff, 0px 67px 0px -53px #fff,     
    -9px 66px 0px -53px #fff, -17px 64px 0px -53px #fff, -25px 62px 0px -53px #fff, 
    -33px 58px 0px -53px #fff, -41px 53px 0px -53px #fff, -48px 47px 0px -53px #fff, 
    -53px 41px 0px -53px #fff, -56px 36px 0px -53px #fff, -59px 32px 0px -53px #fff, 
    -62px 26px 0px -53px #fff, -64px 20px 0px -53px #fff, -65px 14px 0px -53px #fff, 
    -66px 7px 0px -53px #fff, -67px 0px 0px -53px #fff, 0 0 0 12px #3b2843; 
}

#html_logo {
    box-shadow: 0 0 0 2px #fff, 0px -67px 0px -53px #fff, 9px -66px 0px -53px #fff, 
    17px -64px 0px -53px #fff, 25px -62px 0px -53px #fff, 33px -58px 0px -53px #fff, 
    41px -53px 0px -53px #fff, 48px -47px 0px -53px #fff, 53px -41px 0px -53px #fff, 
    56px -36px 0px -53px #fff, 59px -32px 0px -53px #fff, 62px -26px 0px -53px #fff, 
    64px -20px 0px -53px #fff, 65px -14px 0px -53px #fff, 66px -7px 0px -53px #fff, 
    67px 0px 0px -53px #fff, 66px 9px 0px -53px #fff, 65px 14px 0px -53px #fff, 
    63px 23px 0px -53px #fff, 59px 32px 0px -53px #fff, 54px 40px 0px -53px #fff, 
    48px 47px 0px -53px #fff, 41px 53px 0px -53px #fff, 36px 46px 0px -53px #fff, 
    33px 58px 0px -53px #fff, 27px 60px 0px -53px #fff, 20px 63px 0px -53px #fff, 
    14px 64px 0px -53px #fff, 8px 66px 0px -53px #fff, 0px 67px 0px -53px #fff,     
    -9px 66px 0px -53px #fff, -17px 64px 0px -53px #fff, -25px 62px 0px -53px #fff, 
    -33px 58px 0px -53px #fff, -41px 53px 0px -53px #fff, -48px 47px 0px -53px #fff, 
    -53px 41px 0px -53px #fff, -56px 36px 0px -53px #fff, -59px 32px 0px -53px #fff, 
    -62px 26px 0px -53px #fff, -64px 20px 0px -53px #fff, -65px 14px 0px -53px #fff, 
    -66px 7px 0px -53px #fff, -67px 0px 0px -53px #fff, 0 0 0 12px #3b2843; 
}

#cplus {
    box-shadow: 0 0 0 2px #fff, 0px -67px 0px -53px #fff, 9px -66px 0px -53px #fff, 
    17px -64px 0px -53px #fff, 25px -62px 0px -53px #fff, 0 0 0 12px #3b2843; 
}

#projet {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2ebf4;
}

#projet h2 {
    color: #3b2843;
}

#projet .glass {
    display: flex;
    justify-content: space-around;
    min-height: 80vh;
    width: 90%;
    padding: 50px;
    border-radius: 2rem;
    box-shadow: inset -25px 25px 51px #c8c0cb,
                inset 25px -25px 51px rgb(241, 241, 241);
}

.blank {
    display: relative;
    justify-content: right;
    max-width: 48rem;
    margin: 0 auto;
}

.slider_wrap {
    display: block;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    height: 28rem;
    width: 15rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    nav-down: hidden;
    border-radius: 0.5rem;
    box-shadow:  -5px 5px 22px #bdb5bf,
                 5px -5px 22px #ffffff;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    float: right;
    column-gap: 1rem;
    margin-top: 10px;
    margin-right: 15px;
    bottom: 1.25rem;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #d2c2d6;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

footer {
    background: linear-gradient(to bottom, #f2ebf4, #d8c1df);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    padding: 30px 100px;
    padding-right: 50;
    padding-right: 50;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer p {
    color: #3b2843;
}

.contact {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

#linked_in {
    position: flex;
    width: 3rem;
    transition: .6s;
    box-shadow:  -5px 5px 11px #b8b3b9,
                 5px -5px 11px #ffffff;
}

#linked_in:hover {
    transform: translate(0, -10px);
}

footer .cvita a{
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: #e9d2f0;
    background-color: #8976a8;
    padding: 10px 30px;
    border: solid #8976a8 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.cvita a:hover{
    transition : 1000ms;
    padding: 10px 50px;
    background-color: transparent;
    color: #8976a8;
    border: solid 2px #8976a8;
}
